#pages-settings-index {
  $namespace: 'pages-settings-index';
  
  .#{$namespace}__section {
    display: block;
    margin: 0 auto 2rem;
    max-width: 50rem;
    width: auto;

    &:last-of-type {
      margin-bottom: 0rem;
    }
  }

  .#{$namespace}__panel {
    display: block;
    --panel__display: block;
  }
}