@import './utils/reset';
@import './utils/colors';

*, *::before, *::after {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body {
  margin: 0;
  padding: 0;
  font-size: 100%;
  font-family: sans-serif;
  color: var(--color-graphite);
  background-color: var(--color-chalk);
}

.page {
  display: grid;
  grid-template-rows: min-content auto min-content;
  justify-items: stretch;
  height: auto;
  min-height: 100vh;
}

@import './themes/default';
@import './themes/dark';
@import './themes/light';

@import './pages/partials/header';
@import './pages/partials/content';
@import './pages/partials/footer';

@import './pages/settings/index.scss';