@use './utils/reset';
@use './utils/colors';

:root {
  @include colors.generate-swatch('grey', rgb(141, 141, 141));
  @include colors.generate-swatch('yellow', rgba(136, 111, 0, 1));
  @include colors.generate-swatch('red', rgba(127, 0, 0, 1));
}

@include reset.reset();

*, *::before, *::after {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body {
  margin: 0;
  padding: 0;
  font-size: 100%;
  font-family: sans-serif;
  color: var(--color-graphite);
  background-color: var(--color-chalk);
}

.page {
  display: grid;
  grid-template-rows: min-content auto min-content;
  justify-items: stretch;
  height: auto;
  min-height: 100vh;
}

@import './themes/default.scss';
@import './themes/dark.scss';
@import './themes/light.scss';

@import './layouts/base.scss';
@import './layouts/single-column.scss';
@import './layouts/two_by_one.scss';
@import './layouts/partials/header.scss';
@import './layouts/partials/content.scss';
@import './layouts/partials/footer.scss';

@import './pages/index/index.scss';
@import './pages/articles/index.scss';
@import './pages/articles/article.scss';
@import './pages/settings/index.scss';
@import './pages/style_guide/index.scss';