@import './utils/reset';
@import './utils/colors';

*, *::before, *::after {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body {
  margin: 0;
  padding: 0;
  font-size: 100%;
  font-family: sans-serif;
  color: var(--color-graphite);
  background-color: var(--color-chalk);
}

.page {
  display: grid;
  grid-template-rows: min-content auto min-content;
  justify-items: stretch;
  height: auto;
  min-height: 100vh;
}

@import './themes/default.scss';
@import './themes/dark.scss';
@import './themes/light.scss';

@import './layouts/base.scss';
@import './layouts/page.scss';
@import './layouts/partials/header.scss';
@import './layouts/partials/content.scss';
@import './layouts/partials/footer.scss';

@import './pages/index/index.scss';
@import './pages/articles/index.scss';
@import './pages/articles/article.scss';
@import './pages/settings/index.scss';
@import './pages/style_guide/index.scss';