@use './breakpoints.scss';

/**
 * Defines the overall structure for a layout, e.g. max width and padding at
 * various breakpoints.
 */
@mixin structured-layout($single-column: false) {
  margin: 0 auto;
  max-width: 60rem;
  padding: 1rem;
  width: auto;

  @include breakpoints.breakpoint-1280 {
    max-width: 90rem;
    padding: 2rem;
  }
}

/**
 * Defines a standardized gap value for areas at various breakpoints.
 */
@mixin area-gap {
  gap: 1rem;

  @include breakpoints.breakpoint-1280 {
    gap: 2rem;
  }
}

/** Standard platform padding values. */
$platform-padding: 2rem;