<noscript>
  <div class="noscript-disclaimer">
    <p>
      Oops, it looks like your browser doesn't have JavaScript enabled.
      Don't worry, you can still use this application; but please understand
      that its overarching purpose is to convey complex ideas to humans.  In
      many cases, rich interaction enables me to do that more effectively.
    </p>
    <p>
      Afterall, screens aren't subject to the limits of paper.
    </p>
    <p>
      Have a great day!
    </p>
    <p>
      Best,<br>
      <span class="noscript-disclaimer__signature">
        Jon Richards
      </span>
    </p>
  <div>
</noscript>