@import '../utils/breakpoints.scss';

#page-layout {
  display: grid;
  grid-template-areas:
    'before',
    'main',
    'after';
  grid-template-columns: 1fr;
  padding: 1rem;
  width: auto;
  max-width: 50rem;
  margin: 0 auto;

  @include breakpoint-1280 {
    grid-template-columns: 2fr 8fr 2fr;
    max-width: 100%;
  }

  @include breakpoint-1440 {
    grid-template-columns: 2fr 8fr 2fr;
    padding: 2rem;
    max-width: 94rem;    
  }

  #before-area {
    grid-area: 'before';
  }

  #main-area {
    grid-area: 'main';
  }

  #after-area {
    grid-area: 'after';
  }
}
