@use '../utils/breakpoints.scss';
@use '../utils/dimensions.scss';

#two-by-one-layout {
  @include dimensions.structured-layout;
  @include dimensions.area-gap;

  display: grid;
  grid-template-areas:
    'main',
    'after';
  grid-template-columns: 1fr;

  @include breakpoints.breakpoint-1280 {
    grid-template-columns: 8fr 4fr;
    max-width: 90rem;
  }

  #main-area {
    grid-area: 'main';
    background-color: #f00;
  }

  #after-area {
    grid-area: 'after';
    background-color: #0f0;
  }
}
