*, *::before, *::after {
  box-sizing: border-box;
}

:root {
  --color-graphite: #333;
  --color-chalk: #fff;
}

html, body {
  font-size: 100%;
  padding: 0;
  margin: 0;
}

body {
  font-family: sans-serif;
  background-color: var(--color-graphite);
  color: var(--color-chalk);
}