{% extends 'pages/layouts/generic.html' %}

{% block title %}Style Guide{% endblock %}

{% block generic_content %}
  <main id="pages-style-guide-index">
    <div id="pages-style-guide-index__main">
      <jr-panel>
        <div class="copy">
          <h1>Style Guide</h1>
          <p>
            This page provides an overview of the style guide by which this app
            is designed.  It contains usage guidelines and examples.
          </p>
          <p>
            The guide is not exhaustive and intended to cover only the use cases
            that appear within this application.
          </p>
        </div>
      </jr-panel>

      <jr-panel>
        <div class="copy">
          <ul>
            <li>
              <a href="{% url 'pages:style-guide-copy' %}">Copy</a>
            </li>
            <li>
              <a href="{% url 'pages:style-guide-components' %}">Components</a>
            </li>
          </ul>
        </div>
      </jr-panel>
    </div>
  </main>
{% endblock %}
