<jr-panel>
  <div class="copy">
    <h2>Card</h2>
    <div class="prism-wrapper">
      <pre>
        <code class="language-html">
          &lt;jr-card>
            <p slot="text">This is a card component.</p>
          &lt;/jr-card>
        </code>
      </pre>
    </div>
    <br>
    <div>
    <jr-card
      image="https://media.npr.org/assets/img/2017/04/25/istock-115796521_wide-2f8afeb04be5bf8290f13dd1a5a9e107f63ee2fd.jpg?s=1400"
      description="This is a description for the card."
    >
    </jr-card>
    </div>
  </div>
</jr-panel>
