@use '../../utils/breakpoints';

#header {
  border-bottom: thin solid var(--header__border-bottom-color, black);
  background-color: var(--header__background-color, white);
  box-shadow: 0 0 0.5rem var(--header__box-shadow-color);
  
  &__content {
    display: grid;
    grid-template-areas: 'logo' 'nav';
    width: 100%;
    margin: 0 auto;
    color: var(--header__color, black);
  
    @include breakpoints.breakpoint-640 {
      max-width: 94rem;
      padding: 2rem;
      grid-template-areas: 'logo nav';
    }
  }

  &__logo {
    padding: 1.5rem 1rem;
    @include breakpoints.breakpoint-640 {
      padding: 0;
    }
  }

  &__logo-link,
  &__logo-link:visited {
    font-size: 1.5rem;
    color: var(--header__logo-color, black);
    text-decoration: none;
  }
  &__logo-link:focus,
  &__logo-link:hover {
    text-decoration: underline;
  }

  &__nav-list {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    height: 100%;

    @include breakpoints.breakpoint-640 {
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
    }
  }

  .header__nav-list-item {
    display: block;
    padding: 1rem;
    border-top: thin solid var(--color-grey-80, black);
    border-bottom: thin solid var(--color-grey-80, black);

    @include breakpoints.breakpoint-640 {
      display: inline-block;
      padding: 0;
      border: none;
      margin-right: 1rem;
    }
  }
  .header__nav-list-item:last-of-type {
    margin-right: 0rem;
    border: none;
  }

  .header__nav-link,
  .header__nav-link:visited {
    font-size: 1rem;
    line-height: 1rem;
    font-weight: var(--header__nav-link-font-weight, regular);
    text-decoration: none;
    color: var(--header__nav-link-color, blue);
  }
  .header__nav-link:hover,
  .header__nav-link:focus {
    text-decoration: underline;
    color: var(--header__nav-link-hover-color, blue);
  }
}