@use '../utils/dimensions.scss';
@use '../utils/breakpoints.scss';

body.theme--light {
  #background-area {
    --background-color: var(--color-grey-90);
  }
  --header__background-color: white;
  --header__color: var(--color-grey-20);
  --header__border-bottom-color: none;
  --header__logo-color: var(--color-red-50);
  --header__nav-link-font-weight: bold;
  --header__nav-link-color: var(--color-red-60);
  --header__nav-link-hover-color: var(--color-red-70);
  --header__box-shadow-color: var(--color-grey-70);

  --content__background-color: var(--color-grey-90);
  --content__color: var(--color-grey-20);
  
  --footer__background-color: white;
  --footer__border-top-color: none;
  --footer__color: var(--color-grey-20);
  --footer__box-shadow-color: var(--color-grey-70);

  jr-panel {
    --panel__padding: #{dimensions.$platform-padding};
    --panel__border: thin solid var(--color-grey-90);
    --panel__box-shadow: 0 0.1rem 0.25rem var(--color-grey-10--alpha-25);
  }

  jr-heading {
    --border-bottom: thin solid var(--color-grey-20);
    --color: var(--color-grey-20);
    --link-border-bottom: thin solid var(--color-grey-20);
    --link-color: var(--color-grey-20);
    --link-hover-border-bottom: thin dashed var(--color-grey-30);
    --link-hover-color: var(--color-grey-30);

    &[level="1"] {
      --font-size: 3rem;
      margin-bottom: 2.5rem;
    }
    &[level="2"] {
      --font-size: 2rem;
      margin-bottom: 2rem;
    }
    &[level="3"] {
      --font-size: 1.5rem;
      margin-bottom: 1.5rem;
    }
  }

  .copy {
    aside {
      --background-color: var(--color-grey-90--alpha-50);
      --border-bottom: none;
      --border-left: 0.5rem solid var(--color-grey-70);
      --border-right: none;
      --border-top: none;
      --font-size: 1.2rem;
      --padding: 1rem;
      @include breakpoints.breakpoint-768 {
        --font-size: 1.4rem;
      }
      p {
        --font-size: inherit;
      }
    }

    $header-font-family: 'Monsterrat', sans-serif;
    h1 {
      --border-bottom: none;
      --color: var(--color-grey-10);
      --font-family: #{$header-font-family};
      --font-size: 2.4rem;
      --font-weight: 400;
      @include breakpoints.breakpoint-768 {
        --font-size: 3.8rem;
      }
      &:after {
        border-bottom: thin solid var(--color-grey-10);
        content: '';
        display: block;
        margin: 2rem 0;
        width: 5rem;
      }
    }
    h2 {
      --border-bottom: none;
      --font-family: #{$header-font-family};
      --font-size: 2.4rem;
      --font-weight: 400;
    }
    h3 {
      --font-family: #{$header-font-family};
      --font-size: 1.8rem;
      --font-weight: 400;
    }
    h4, h5, h6 {
      --font-family: #{$header-font-family};
      --font-weight: 400;
    }

    hr {
      display: block;
      max-width: 5rem;
    }

    p {
      --color: var(--color-grey-10);
      --font-size: 1.4rem;
      --line-height: 1.8;
      &[data-intent="intro"] {
        --color: var(--color-grey-40);
        --font-size: 1.6rem;
      }
    }
    strong {
      color: var(--color-grey-10);
      font-weight: 600;
    }

    a:link, a:visited {
      --color: var(--color-grey-0);
      --color--hover: var(--color-grey-0);
      --decoration-color: var(--color-yellow-70);
      --font-family: 'Monsterrat', sans-serif;
    }
  }
}
