{% extends 'pages/layouts/page.html' %}

{% block page_title %}Settings{% endblock %}

{% block page_content %}
  <div id="pages-settings-index">
    <section id="theme" class="pages-settings-index__section">
      <jr-panel class="pages-settings-index__panel">
        Theme
      </jr-panel>
    </section>

    <section id="cookies" class="pages-settings-index__section">
      <jr-panel class="pages-settings-index__panel">
        Cookies
      </jr-panel>
    </section>

    <section id="motion" class="pages-settings-index__section">
      <jr-panel class="pages-settings-index__panel">
        Motion
      </jr-panel>
    </section>
  </div>
{% endblock %}